2021-08-17 <br/>
Star Trek Voice Commands <br/>
https://github.com/rfordatascience/tidytuesday/blob/master/data/2021/2021-08-17/readme.md

Snakey Chart - Completed

https://towardsdatascience.com/sankey-diagram-basics-with-pythons-plotly-7a13d557401a

In [2]:
import pandas as pd

In [4]:
df=pd.read_csv('computer.csv')

In [5]:
df.head()

,name,char,line,direction,type,pri_type,domain,sub_domain,nv_resp,interaction,char_type,is_fed,error,value_id
0,102,Tasha,Battle bridge.,The doors snap closed and the lift moves. Rike...,Statement,Statement,IoT,Turbolift,True,Battle bridge.,Person,True,False,255
1,102,Beverly,Show me the results of Captain Picard's most r...,The screen promptly BEGINS TO FLASH UP PRINTED...,Command,Command,InfoSeek,NaN,True,Show me the results of Captain Picard's most r...,Person,True,False,345
2,102,Beverly,Yes on a subject that's very important to thi...,The screen GOES DARK.,Statement,Statement,IoT,NaN,True,Screen off.,Person,True,False,347
3,102,Picard,And what was my answer computer?,MAIN VIEWER FLICKERS then startles us with an...,Wake Word,Question,InfoSeek,NaN,False,And what was my answer computer?,Person,True,False,363
4,102,Picard,And what was my answer computer?,MAIN VIEWER FLICKERS then startles us with an...,Question,Question,InfoSeek,NaN,False,And what was my answer computer?,Person,True,False,363

In [12]:
df.shape

(2214, 14)

In [6]:
df_main=df[['char','type']]

In [65]:
df_main.loc['count']=1

d:\Users\DComputer\Desktop\learning\Streamlined EDA and ML\project_env\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
df_char=df_main.groupby(['char','type'])['count'].count().sort_values(ascending=False).reset_index()[:10]

In [23]:
df_char.head()

             char       type  count
0  Computer Voice   Response    345
1  Computer Voice      Alert     95
2            Data    Command     94
3          Picard    Command     93
4          Geordi  Wake Word     91

In [49]:
p=df_char.char.unique().tolist()
q=df_char.type.unique().tolist()

In [50]:
p.extend(q)

In [51]:
p

['Computer Voice',
 'Data',
 'Picard',
 'Geordi',
 'Response',
 'Alert',
 'Command',
 'Wake Word',
 'Info',
 'Question']

In [42]:
df_char.char.unique().tolist()

['Computer Voice', 'Data', 'Picard', 'Geordi']

In [56]:
enum=enumerate(p)
numeric_dict=dict((j,i) for i,j in enum)

In [57]:
numeric_dict

{'Computer Voice': 0,
 'Data': 1,
 'Picard': 2,
 'Geordi': 3,
 'Response': 4,
 'Alert': 5,
 'Command': 6,
 'Wake Word': 7,
 'Info': 8,
 'Question': 9}

In [60]:
df_char['char_value']=df_char.char.map(numeric_dict)
df_char['type_value']=df_char.type.map(numeric_dict)

In [61]:
df_char.head()

             char       type  count  char_value  type_value
0  Computer Voice   Response    345           0           4
1  Computer Voice      Alert     95           0           5
2            Data    Command     94           1           6
3          Picard    Command     93           2           6
4          Geordi  Wake Word     91           3           7

In [62]:
label=p
source=df_char.char_value.tolist()
target=df_char.type_value.tolist()
value=df_char['count'].tolist()

In [33]:
import plotly.graph_objects as go
import plotly.io as pio
pio.renderers.default = 'notebook'

In [63]:
# data to dict, dict to sankey
link = dict(source = source, target = target, value = value)
node = dict(label = label, pad=50, thickness=5)
data = go.Sankey(link = link, node=node)

In [67]:
fig=go.Figure(data)
fig.update_layout(
   # hovermode = 'x',
    title="Who were the top characters talking to",
    font=dict(size = 10, color = 'white'),
    paper_bgcolor='#5B5958'
)
fig.show()